<h1 class='text-3xl'>Listado de Pokemons</h1>
<h2 class='text-xl'>Página actual</h2>
<hr class='my-2'>

<!-- @if (!isLoading()) { -->
<div>
  <pokemons-list [pokemons]="pokemons()" />
</div>
<!-- } -->
<!--  -->
<!-- @else {
<pokemon-list-skeleton />

} -->
<!-- TODO: paginación (siguiente y anterior) -->

<div class='flex justify-between mt-2'>
  <button class='btn btn-primary cursor-pointer'>
    Anteriores
  </button>

  <button class='btn btn-primary cursor-pointer'>
    Siguientes
  </button>


</div>
