<nav class='top-0 sticky gap-4 z-20 w-full flex justify-end px-2 py-3 bg-slate-900 shadow-md text-white'>
  <a routerLink="/pokemons"
     routerLinkActive='underline text-blue-500'
     class='hover: underline'>Pokemons</a>
  <a routerLink="/about"
     routerLinkActive='underline text-blue-500'
     class='hover: underline'>About</a>
  <a routerLink="/pricing"
     routerLinkActive='underline text-blue-500'
     class='hover: underline'>Pricing</a>
  <a routerLink="/contact"
     routerLinkActive='underline text-blue-500'
     class='hover: underline'>Contact</a>
</nav>
